---
---

@import "{{ site.theme }}";


// Specific Use Cases
#brandLogo {
    color: black;
    font-weight: bold;
}

#styleOf {
    color: black;
    font-weight: bold;
}

.blue {
    color: midnightblue;
    font-weight: bold;
}